header,body,footer, button { /* Police dans toute la page */
    font-family: "Borel"; /*Police dans toute la page*/
}

header { /*ENTETE DE LA PAGE*/
    font-family: "Borel"; /*Police dans tout le header*/
    font-weight: 400; /*Epaisseur de texte*/
    font-style: normal; /*Style d'écriture*/
    font-size: 50px; /*Taille de la police*/
    background-color: aquamarine; /*Couleur de fond du header*/
    border-radius: 15px; /*Arrondi des coins du background*/
    text-align: center; /*Alignement horizontal du texte*/
    padding: 20px 0 0 0; /*espace entre le texte et le bord du background*/
    margin-bottom: 10px; /*espace autour de la bordure du bas*/
}

body { /*CORPS DE LA PAGE*/
    background-color: antiquewhite; /*Couleur de fond de la page*/
}

h3 { /*Sous-titre de la page*/
    margin: 15px; /*marges de 20px de tous les côtés*/
}

table { /*ensemble du tableau*/
    display: flex; /*s'adapte à la largeur de la page*/
    flex-direction: column; /*Important !*/
    outline: 3px solid black; /*bordure outline*/
    border-radius: 10px; /*arrondissement de la bordure*/
    margin: 15px; /*marges de 15px de tous les côtés*/
    width: calc(100% - 30px); /*100% - les (15px x 2) de la marge sur la gauche et droite*/
    box-sizing: border-box; /*inclure la bordure et la marge dans la largeur totale*/
    padding: 10px; /*espace entre le contenu et la bordure*/
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.6); /* Ombre */
    background-color: darkcyan;
}

tr { /*ligne du tableau*/
    display: flex; /*s'adapte à la largeur de la page*/
    width: 100%; /*largeur de la ligne 100% de la table*/
}

th, td { /*cellules de la table*/
    flex: 1; /*chaque cellule prend une part égale de l'espace disponible*/
    text-align: center; /*alignement du texte*/
    border: 1px solid black; /*bordure*/
    border-radius: 10px; /*arrondissement des coins*/
    box-sizing: border-box; /*inclure la bordure et la marge dans la largeur totale*/
    min-width: 0; /* Empêche le débordement du contenu */
}

th { /*cellules de la ligne 1*/
    font-size: 25px; /*taille de la police*/
    font-style: italic; /*style d'écriture*/
    margin-bottom: 10px; /*marge en bas*/
    background-color: aquamarine; /*couleur de fond des cellulles de la ligne 1*/
    border: 3px solid black; /*bordure des cellules de la ligne 1*/
    padding-top: 10px; /*espace entre le texte et le bord de la cellule*/
}

.case,td { /*cellules des autres lignes*/
    background-color:whitesmoke; /*couleur de fond des cellules des autres lignes*/
    padding-top: 10px; /*espace entre le texte et le bord de la cellule*/
}

.case:hover{ /*Effet au survol des cellules des autres lignes*/
    background-color: lightgrey; /*couleur de fond au survol*/
}

button { /*bouton*/
    margin: 15px; /*marge en haut*/
    padding: 15px; /*espace entre le texte et le bord du bouton*/
    background-color: aquamarine; /*couleur de fond du bouton*/
    border-radius: 10px; /*arrondissement des coins du bouton*/
    font-size: 20px; /*taille de la police*/
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.9); /* Ombre */
}

button:hover{ /*Effet au survol du bouton*/
    background-color: mediumaquamarine; /*couleur de fond au survol*/
    transform: rotate(5deg); /* Rotation */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.9); /* Ombre */
}

div { /*Conteneur du bouton*/
    text-align: center; /*Alignement horizontal du bouton*/
}
.checkbox { /*case à cocher*/
    width: 20px; /*largeur de la case*/
    height: 20px; /*hauteur de la case*/
    margin-right: 5px; /*espace entre la case et le texte*/;
    vertical-align: middle; /*aligne verticalement la checkbox*/
    appearance: none; /*supprime le style par défaut*/
    border: 2px solid black; /*bordure de la case*/
    border-radius: 5px;
}

.checkbox:hover { /*Effet au survol de la case à cocher*/
    transform: scale(1.2); /*agrandissement*/
    cursor: pointer; /*curseur en forme de main*/
}

.checkbox:checked { /*personnalisation de la coche*/
    background-color: aquamarine;
}
